<link rel="shortcut icon" type="x-icon" href="{{ 'image/favicon/favicon_32x32.ico'|to_cdn }}">
<link rel="apple-touch-icon-precomposed" href="{{ 'image/icon/webclip.png'|to_cdn }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ 'image/icon/apple-touch-icon-57x57.png'|to_cdn }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ 'image/icon/apple-touch-icon-60x60.png'|to_cdn }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ 'image/icon/apple-touch-icon-72x72.png'|to_cdn }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ 'image/icon/apple-touch-icon-114x114.png'|to_cdn }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ 'image/icon/apple-touch-icon-120x120.png'|to_cdn }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ 'image/icon/apple-touch-icon-144x144.png'|to_cdn }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ 'image/icon/apple-touch-icon-152x152.png'|to_cdn }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ 'image/icon/apple-touch-icon-180x180.png'|to_cdn }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ 'image/icon/apple-touch-icon-236x236.png'|to_cdn }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ 'image/icon/apple-touch-icon-472x472.png'|to_cdn }}">