{% extends 'top_layout.html' %}

{% block meta %}
<title>【WIZY（ウィジー）】みんなの夢をかたちにしよう-アーティストとファンによる共創・体験型の音楽クラウドファンディングプラットフォーム</title>
<meta name="keywords" content="クラウドファンディング,音楽,WIZY,ウィジー,共創,クラウドクリエイティング,レコチョク">
<meta name="description" content="音楽は、ただ”聴くこと”から”体験”として多様化し、そのサイクルをアーティスト（クリエイター）とファンが”共に創る”時代に。レコチョクが運営するWIZY(ウィジー)は、アーティストとファンの想いを繋ぎ、その実現をプロジェクトという形でサポートする共創型クラウドクリエイティングプラットフォームです。">
<meta property="og:title" content="みんなの夢をかたちにしよう-アーティストとファンによる共創型クラウドクリエイティング | WIZY（ウィジー）">
<meta property="og:description" content="音楽は、ただ”聴くこと”から”体験”として多様化し、そのサイクルをアーティスト（クリエイター）とファンが”共に創る”時代に。レコチョクが運営するWIZY(ウィジー)は、アーティストとファンの想いを繋ぎ、その実現をプロジェクトという形でサポートする共創型クラウドクリエイティングプラットフォームです。">
<meta property="og:image" content="{{ 'image/logo/logo_m.png'|to_cdn }}">
<meta property="og:url" content="{{ request.url }}">
<meta property="og:site_name" content="WIZY（ウィジー）">
<meta property="og:type" content="website">
<meta name="twitter:image:src" content="{{ 'image/logo/logo_m.png'|to_cdn }}">
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ 'theme/css/top.css'|to_cdn }}" type="text/css"/>
  <style>
    .toparea {
      background: url("{{ top_project.image|to_cdn('project') }}") no-repeat fixed center center;
    }
  </style>
  <style>
    {% for project in projects %}
      #pickup a .hvr-reveal.pickup0{{ loop.index }}:after {
        border-bottom: 30px solid {{ project.accent_color }};
      }

      #pickup a .hvr-reveal.pickup0{{ loop.index }}:before {
        border: 0 solid {{ project.accent_color }};
      }

      #pickup a:hover .hvr-reveal.pickup0{{ loop.index }}:before,
      #pickup a:focus .hvr-reveal.pickup0{{ loop.index }}:before,
      #pickup a:active .hvr-reveal.pickup0{{ loop.index }}:before {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        border-width: 4px;
      }
      .pickup li.asya0{{ loop.index }} {
        background: {{ project.accent_color }};
      }
      #pickup a img {
        transition: 0.3s;
        vertical-align: bottom;
      }
      #pickup a:hover img, #pickup a:focus img, #pickup a:active img {
        opacity: 0.8;
      }
    {% endfor %}
    
    

    @media screen and (min-width: 768px) and (max-device-width: 980px) {
    {% for project in projects %}
      #pickup a .hvr-reveal.pickup0{{ loop.index }}:after {
        border-bottom: 24px solid {{ project.accent_color }};
      }
    {% endfor %}
    }

    @media screen and (max-width: 640px) {
    {% for project in projects %}
      .hvr-reveal.pickup0{{ loop.index }}:after {
        border-bottom: 30px solid {{ project.accent_color }};
      }
    {% endfor %}
    }
    
    
    #pickup a.teaser-ai .hvr-reveal:after {
        border-bottom: 30px solid #555;
      }
     #pickup a.teaser-ai .hvr-reveal:before {
        border: 0 solid #555;
      }

      #pickup a.teaser-ai:hover .hvr-reveal:before,
      #pickup a.teaser-ai:focus .hvr-reveal:before,
      #pickup a.teaser-ai:active .hvr-reveal:before {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        border-width: 4px;
      }
     .teaser-ai .pickup li.asya01 {
        background: #555;
      }
    
    

    
    
    
    
    
  </style>
{% endblock %}

{% block content %}
  <section class="toparea">
    <div class="headline">
      <div class="center titlebox">
        {% if top_project %}
          <h2 class="tp_title">{{ top_project.title }}</h2>
          <div class="square"></div>
          <h2 class="u_name">{{ top_project.user_name }}</h2>
          <div>
            <a href="{{ url_for('front.project', project_id=top_project.id) }}"
               class="btn btn-1 btn-1a icon-arrow-right"><span>プロジェクトを見る</span></a>
          </div>
        {% else %}
          <h2 class="tp_title">プロジェクトタイトル</h2>
          <div class="square"></div>
          <h2 class="u_name">アーティスト名</h2>
          <div>
            <a href="#" class="btn btn-1 btn-1a icon-arrow-right"><span>プロジェクトを見る</span></a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="mask"></div>
  </section>

  <div class="wrapper">
    <div id="about">
      <h2>みんなの夢をかたちにしよう。</h2>
      <p>アーティストがつくりたいもの、<br class="sp">ファンがアーティストとしたいこと<br/>みんなの夢が、ひとつでも多く実現できますように。</p>
      <p>WIZYはそんなみなさんの願いを叶える<br class="sp">プラットフォームです。</p>
      <p class="aboutbtn"><a href="{{ url_for('front.about_page', path='service') }}">WIZYとは</a></p>
    </div>

    <div id="pickup">
      <div class="project inner clearfix">
        <h2>PICK UP PROJECT</h2>
        {# TODO プロジェクト数が増えるまで一覧への遷移はしない
        <p class="projectbtn">
          <a href="{{ url_for('front.projects') }}">プロジェクト一覧</a>
        </p>
        #}
      </div>
      <section class="inner">
        
         {# ティザー用のプロジェクト一覧 #}
        <a href="/special/ai/" class="teaser-ai">
            <ul class="pickup inner clearfix">
              <li class="asya asya01">
                <img class="image" src="{{ 'theme/img/teaser/projectlist_ai.jpg'|to_cdn }}">
              </li>
              <li class="text">
                <div class="hvr-reveal">
                  <div class="hwrap">
                    <div class="ptitle"><h3>AIとファンの夢を叶えるプロジェクト実施決定</h3></div>
                    <div class="cname"><h3>AI</h3></div>
                    <div class="pdetail">アーティストとファンの夢を叶えるプラットフォーム「WIZY」で、AIのプロジェクトが実施決定。プロジェクトの詳細は近日発表予定です！</div>
                  </div>
                </div>
              </li>
            </ul>
          </a>
        
        {% for project in projects %}
          <a href="{{ url_for('front.project', project_id=project.id) }}">
            <ul class="pickup inner clearfix">
              <li class="asya asya0{{ loop.index }}">
                <img class="image" src="{{ project.image|to_cdn('project') }}">
              </li>
              <li class="text">
                <div class="hvr-reveal pickup0{{ loop.index }}">
                  <div class=hwrap>
                    <div class="ptitle"><h3>{{ project.title }}</h3></div>
                    <div class="cname"><h3>{{ project.user_name }}</h3></div>
                    <div class="pdetail">{{ project.summary }}</div>
                  </div>
                </div>
              </li>
            </ul>
          </a>
        {% endfor %}
      </section>

    </div>
  </div>
{% endblock %}
