{% extends 'top_layout.html' %}

{% block meta %}
<title>きゃりーぱみゅぱみゅ - [KPP 5ive YEARS MONSTER WORLD TOUR 2016] VRプロジェクト | 【WIZY（ウィジー）】アーティストとファンによる共創・体験型の音楽クラウドファンディングプラットフォーム</title>
<meta name="keywords" content="きゃりーぱみゅぱみゅ,[KPP 5ive YEARS MONSTER WORLD TOUR 2016] VRプロジェクト,クラウドファンディング,音楽,WIZY,ウィジー,共創,クラウドクリエイティング,レコチョク">
<meta name="description" content="クリエイター:きゃりーぱみゅぱみゅの「[KPP 5ive YEARS MONSTER WORLD TOUR 2016] VRプロジェクト」です。レコチョクが運営する共創型クラウドクリエイティング音楽プラットフォーム【WIZY(ウィジー)】を使ってきゃりーぱみゅぱみゅをサポートしよう！">
<meta property="og:title" content="きゃりーぱみゅぱみゅ - [KPP 5ive YEARS MONSTER WORLD TOUR 2016] VRプロジェクト | 共創型クラウドクリエイティング WIZY(ウィジー)">
<meta property="og:description" content="クリエイター:きゃりーぱみゅぱみゅの「[KPP 5ive YEARS MONSTER WORLD TOUR 2016] VRプロジェクト」です。レコチョクが運営する共創型クラウドクリエイティング音楽プラットフォーム【WIZY(ウィジー)】を使ってきゃりーぱみゅぱみゅをサポートしよう！">
<meta property="og:image" content="{{ project.image|to_cdn('project') }}">
<meta property="og:url" content="{{ url_for('front.home') }}">
<meta property="og:site_name" content="WIZY（ウィジー）">
<meta property="og:type" content="article">
<meta name="twitter:image:src" content="{{ project.image|to_cdn('project') }}">
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
{% endblock %}

{% block script %}
{% endblock %}
