{% extends "creator_layout.html" %}

{% block body %}
  <div class="ui center aligned stackable grid">
    <div class="five wide column">
      <form class="ui large form" action="{{ url_for('creator.password_request') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            {{ form.email(placeholder='e-mail') }}
          </div>
        </div>
        <div class="two fields">
          <a class="ui basic large button" href="{{ url_for('creator.login') }}">Cancel</a>
          {{ form.submit(class='ui fluid large gold submit button') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}