{% extends "creator_layout.html" %}

{% block meta %}
<title>ログイン - クリエイター</title>
<meta property="og:title" content="ログイン - クリエイター">
{% endblock %}

{% block body %}
  <div class="ui center aligned stackable login grid">
    <div class="five wide column">
      <form class="ui large form" action="{{ url_for('creator.login') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            {{ form.email(placeholder='e-mail') }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password(placeholder='password') }}
          </div>
        </div>
        {{ form.submit(class='ui fluid large gold submit button') }}
      </form>
      <div class="ui gold basic segment">
        <a href="{{ url_for('creator.password_request') }}">パスワードを忘れた方はこちら</a>
      </div>
    </div>
  </div>
{% endblock %}
