{% extends "creator_layout.html" %}

{% block body %}
  <div class="ui center aligned stackable grid">
    <div class="five wide column">
      <form class="ui large form" action="{{ url_for('creator.password_reset') }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.token }}
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password(placeholder='password') }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password_confirm(placeholder='retype password') }}
          </div>
        </div>
        <div class="field">
          {{ form.submit(class='ui fluid large gold submit button') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
