{% extends 'top_layout.html' %}

{% block meta %}
<title>利用規約 | 【WIZY（ウィジー）】アーティストとファンによる共創・体験型の音楽クラウドファンディングプラットフォーム</title>
<meta name="keywords" content="クラウドファンディング,音楽,WIZY,ウィジー,共創,クラウドクリエイティング,レコチョク">
<meta name="description" content="音楽は、ただ”聴くこと”から”体験”として多様化し、そのサイクルをアーティスト（クリエイター）とファンが”共に創る”時代に。レコチョクが運営するWIZY(ウィジー)は、アーティストとファンの想いを繋ぎ、その実現をプロジェクトという形でサポートする共創型クラウドクリエイティングプラットフォームです。">
<meta property="og:title" content="利用規約 | 【WIZY（ウィジー）】アーティストとファンによる共創・体験型の音楽クラウドファンディングプラットフォーム">
<meta property="og:description" content="音楽は、ただ”聴くこと”から”体験”として多様化し、そのサイクルをアーティスト（クリエイター）とファンが”共に創る”時代に。レコチョクが運営するWIZY(ウィジー)は、アーティストとファンの想いを繋ぎ、その実現をプロジェクトという形でサポートする共創型クラウドクリエイティングプラットフォームです。">
<meta property="og:image" content="{{ 'image/logo/logo_m.png'|to_cdn }}">
<meta property="og:url" content="{{ request.url }}">
<meta property="og:site_name" content="WIZY（ウィジー）">
<meta property="og:type" content="article">
<meta name="twitter:image:src" content="{{ 'image/logo/logo_m.png'|to_cdn }}">
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ 'theme/css/about.css'|to_cdn }}" type="text/css"/>
{% endblock %}

{% block content %}

  <div class="wrapper">

  <div class="about_us">
    <div class="inner clearfix">
      <h2 class="about_hd_title">ABOUT</h2>
      <p class="btn_back">
        <a href="{{ url_for('front.home') }}">トップへ戻る</a>
      </p>
    </div>
  </div>

  <div class="aboutbtn_area">
    <ul class="inner">
      <li class="terms"><a href="#terms">『WIZY』利用規約</a></li>
      <li class="law"><a href="#specifiedCommercialTransactions">特定商取引法に基づく表記</a></li>
      <li class="policy"><a href="#privacy01">プライバシーポリシー</a></li>
      <li class="information"><a href="#privacy02">個人情報の取り扱いについて</a></li>

    </ul>
  </div>





  <div class="about_list">
  <div class="inner clearfix">

    <ul class="about_wrap">
      <li id="terms" class="about_col">
        <div class="about_meta wrap">
          <h3 class="about_meta title">『WIZY』利用規約</h3>
        </div>
        <div class="about_body">
          <p>第１章：総則
            <br> 第２章：会員
            <br> 第３章：運営
            <br> 第４章：その他
            <br>
            <br> 第１章　総則
            <br> 第１条　定義
            <br> 「『WIZY』利用規約」（以下「本規約」といいます）において使用する用語の定義は、以下のとおりとします。
            <br> (1)「運営者」とは、株式会社レコチョクをいいます。
            <br> (2)「会員」とは、運営者所定の手続きにより本サービス（本条３号に定義します）の会員登録を行った者をいいます。
            <br>
            (3)「本サービス」とは、運営者が管理運営するサービスであり、会員に対して、プロジェクト実行者（本条４号に定義します）からの資金提供の募集に応じることができる場や、会員とプロジェクト実行者の間でのアイテム（本条５号に定義します）の売買の場、また会員間やプロジェクト実行者と会員との間での交流の場を提供するサービスをいいます。
            <br>
            (4)「プロジェクト」とは、運営者所定の手続きによりプロジェクトを実行する資格を得た者（以下「プロジェクト実行者」といいます）が、本サービスを通じて会員から資金提供を募集し、あらかじめ定めた一定の条件を充たした場合、または無条件の場合にはプロジェクト期間（本条６号に定義します）が経過した後に、資金提供をした会員に対して、アイテム（本条５号に定義します）を提供することを内容としたプロジェクト実行者が提示する企画をいいます。
            <br>
            (5)「プロジェクトの成立」とは、各プロジェクトの内容に従い、支援獲得目標金額等の一定の条件が達成されること、または無条件の場合には予め定められたプロジェクト期間（本条６号に定義します）が経過することをいいます。
            <br> (6)「アイテム」とは、プロジェクトの成立により、プロジェクト実行者が資金提供をした会員に対して提供するサービスまたは商品をいいます。
            <br> (7)「プロジェクト期間」とは、プロジェクトごとに設定されるプロジェクトの支援可能期間をいいます。
            <br>
            <br> 第２条　本規約
            <br> 1. 本規約は、会員と運営者との間の本サービスに関する一切の関係に適用します。
            <br> 2.
            本サービス内に掲示する「ご利用案内」、「ガイドライン」、その他別途規定する個別規程（以下「個別規程等」といいます。）は、本規約の一部を構成するものとします。本規約と個別規程等が異なる場合には、個別規程等が優先するものとします。
            <br> 3.
            会員は、本規約に従って本サービスを利用するものとし、本サービスを利用することによって、本規約の内容を承諾したものとみなします。なお、利用者が未成年の場合は、必ず親権者等法定代理人の同意を得たうえで、本サービスを利用してください。
            <br> 4. 本サービスは、日本国内においてのみ利用できるものとします。
            <br>
            <br> 第３条　規約・サービスの変更
            <br> 1. 運営者は、会員の承諾を得ることなく、本規約及び本サービスを改訂、追加、変更又は廃止することができるものとします。この場合に、本サービスの利用条件は、変更後の本規約によるものとします。
            <br> 2. 変更後の規約は、運営者が別途定める場合を除き、本サービス内に掲示した時点より、効力を生じるものとします。
            <br> 3. 会員は、変更後の本規約の効力が生じた後、本サービスをご利用になる場合は、変更後の本規約に承諾したものとみなされます。
            <br>
            <br> 第２章　会員
            <br> 第４条　会員登録
            <br> 1. 会員の登録を希望する者（以下「登録希望者」といいます。）は、運営者所定の手続に従って、「会員登録」（以下「会員登録」といいます。）に必要な事項について、正確な情報を届け出るものとします。
            <br> 2. 登録希望者は、運営者が別途定める手続に従い会員登録の申込を行った時点で、本規約に承諾したものとみなされます。
            <br> 3.
            未成年者が、会員登録を行う場合及び本サービスを利用する場合は、親権者等法定代理人の同意が必要となります。なお、未成年者が運営者の定める会員登録の手続を行い、会員となった場合及び本サービスを利用した場合は、親権者等法定代理人の同意をいただいたものとみなします。
            <br>
            <br> 第５条　ID及びパスワードの管理
            <br> 1. 会員は、自らのID及びパスワードを他人に知られないよう、善良なる管理者の注意をもって管理する義務を負います。
            <br> 2. 運営者は、ID及びパスワードの照合をもって、登録された会員が利用したものと扱うことができ、当該利用によって生じた結果ならびにそれに伴う一切の責任については、会員登録を行った者に帰属するものとします。
            <br> 3. 会員はID及びパスワ―ドを盗まれたり、第三者に使用されたりしたことが判明した場合は、直ちにその旨を運営者に通知するとともに、運営者からの指示に従うものとします。
            <br> 4. 会員のIDの管理不十分、使用上の過誤、及び第三者の使用等に起因して会員に損害が生じた場合、運営者は一切責任を負いません。
            <br>
            <br> 第６条　変更の届出
            <br> 1. 会員は、運営者に登録している情報に変更が生じた場合は、運営者が定める方法により、速やかに届け出るものとします。
            <br> 2.
            前項の変更の届出を怠った場合、運営者は本サービスの利用停止等を行う場合があります。それにより会員に不利益が生じることがあっても、運営者は責任を負わないものとします。なお、届出を怠ったことにより、運営者に損害が生じた場合、会員にその損害を賠償していただく場合があります。
            <br>
            <br> 第７条　退会
            <br> 1.
            会員は、退会を希望する場合は、運営者所定の方法により、運営者に退会の申出を行うものとします。なお、会員は、退会により、退会時に保有する本サービスの利用に関する一切の権利を失うものとし、運営者に対して何らの請求権も取得しないものとします。
            <br> 2. 登録を行った会員が死亡した時点で、会員は退会したものとみなします。
            <br>
            <br> 第８条　権利義務の譲渡禁止
            <br> 1. 会員は、本サービスの利用により生じた権利義務の一切について、運営者の事前の承諾なく、第三者に譲渡、移転等の処分又は担保権の設定等をしてはならないものとします。
            <br> 2. 会員が前項に反し、会員その他の第三者に損害、費用を生じさせた場合は、自己の責任と費用で解決するものとし、運営者に対して何らの損害を与えないものとします。
            <br>
            <br> 第９条　会員資格の停止・取消
            <br> 1.
            運営者は、登録希望者が次の各号のいずれかに該当する場合は、会員登録を承認しない場合があります。また、会員が次の各号のいずれかに該当することが判明した場合、または運営者が次の各号のいずれかに該当するおそれがあると判断した場合は、会員資格を停止又は取り消すことがあります。
            <br> (1) 未成年者であって、会員登録を行うことについて親権者等法定代理人の同意がない場合。
            <br> (2) 登録希望者又は会員が、実在しない場合。
            <br> (3) 本規約違反等の理由により、過去に会員資格の取り消し処分等を受けたことがある場合。
            <br> (4) 会員登録に際し届け出た必要事項に虚偽の事項、記入漏れ又は誤記があった場合。
            <br> (5) 他人又は架空の個人情報を使って会員登録を行った場合。
            <br> (6) 運営者が提供する情報を運営者の承諾を得ることなく改変した場合。
            <br> (7) 不正の目的をもって本サービスを利用し、又は他の会員もしくは第三者に利用させた場合。
            <br> (8) 会員の電子メールアドレス等の変更により、会員と連絡が取れなくなった場合。
            <br> (9) 申請時に登録した住所に、郵便物、宅配物が到着しなかった場合。
            <br> (10) 日本国外に居住する場合。
            <br> (11) 本規約に違反した場合。
            <br> (12) その他、運営者が合理的理由をもって会員登録をすることが不適切であると判断した場合。
            <br> 2. 運営者は、会員が本サービスに最後にアクセスしたときから３年間以上経過した場合には、会員に事前に通知することなく会員資格を取り消すことがあります。
            <br> 3.
            前二項に基づき、運営者が会員登録を承認せず、又は会員資格の停止若しくは取り消しを行ったことにより、当該登録希望者又は会員が本サービスの利用ができない場合であっても、運営者は一切の責任を負わず、その理由を当該登録希望者又は会員に開示する義務も負わないものとします。
            4. 本条1項及び2項に基づき、会員資格が取り消された場合、会員は、理由を問わず、本サービスの利用に関する一切の権利を失うものとします。
            <br>
            <br> 第１０条　禁止行為
            <br> 1.会員は、本サービスの利用（本サービスを通じた楽曲の登録、画像の加工・編集、テキストの挿入等の一切の利用を含みます。）にあたり、以下の行為を行なわないこととします。
            <br> （1）運営者、他の会員、その他の第三者に不利益、損害を与える行為。
            <br> （2）運営者、他の会員、その他の第三者の著作権その他の権利を侵害する行為。
            <br> （3）第三者を差別し、罵倒、誹謗中傷、脅迫を行う等、名誉や信用を毀損する行為。
            <br> （4）第三者の肖像権、プライバシーを侵害する行為。
            <br> （5）猥褻画像の撮影、利用等、公序良俗に反する行為。
            <br> （6）未成年者を害する行為を行うこと、又はその行為を助長させること。
            <br> （7）詐欺等の犯罪に結びつく行為。
            <br> （8）第三者や他の組織を装い、又は第三者や他の組織との関係を偽ること。
            <br> （9）第三者の会員情報を無断で使用し、本サービスを利用する行為。
            <br> （10）運営者が行う本サービスの提供又は本サービスの運営を妨げる行為。
            <br> （11）法令に違反する行為。
            <br> （12）運営者の定める利用条件、操作手順等に従わない行為。
            <br> （13）本サービスの信用を失墜、毀損させる行為
            <br> （13）前各号の行為を試みる行為、前各号に類する行為、前各号に該当するおそれのある行為その他運営者が不適切と判断した行為。
            <br>
            2.前項に定める禁止行為に抵触した場合、運営者は当該会員の資格停止または取り消しを行うことができるものとし、これにより会員が本サービスの利用ができない場合であっても、運営者は一切の責任を負わず、その理由を当該会員に開示する義務も負わないものとします。また、この場合、運営者が何らかの損害を被った場合、会員は運営者に対して損害賠償しなければならないものとします。
            <br>
            <br> 第１１条　会員への通知
            <br> 1.
            運営者から会員に対する通知は、本規約に別段の定めのある場合を除き、会員があらかじめ運営者に届け出た電子メールアドレス宛の電子メールの送信、本サービスにおける掲示又は運営者が適当と認めるその他の方法により行われるものとします。
            <br> 2.
            前項の通知は、運営者が当該通知を電子メールの送信、本サービスにおける掲示、又は運営者が適当と認めるその他の方法で行った場合は、電子メールを送信、本サービスにおける提示又はその他方法で発信した時点より、効力を発するものとします。
            <br>
            <br> 第１２条　会員の責務
            <br> 1. 会員は、本サービスを利用するために必要なコンピュータ設備その他のハードウェア、ブラウザその他のソフトウェア並びに通信回線の利用権等をすべて自らの費用と責任で準備するものとします。
            <br> 2.
            会員は、本サービスを通じてダウンロードしたプログラムやデータ等を自らの責任と判断で利用するものとし、本サービスの利用によって生じるコンピュータシステムの破損等のトラブルについて、運営者は一切責任を負わないものとします。
            <br> 3. 会員は本サービスに関する運営者及びその他の第三者の権利を脅かしたり、制限したり、若しくは妨害したり又はそのおそれがあるような行動を一切起こしてはならないものとします。
            <br>
            <br> 第３章　運営
            <br> 第１３条（本サービスにおける運営者の役割）
            <br> 1.
            運営者は、会員に対してプロジェクト支援の場を提供するものであり、会員は、本サービスを介して行う全ての行為は自己責任で行うものとします。運営者は、会員とプロジェクト実行者との間における契約の取消、中途解約、変更、返金、保証などには一切関与しないものとします。
            <br> 2.会員とプロジェクト実行者との間で、アイテムの不着、到着遅延、瑕疵その他の紛争が生じた場合、すべて会員の責任と負担において解決するものとします。
            <br>
            3.運営者は、会員とプロジェクト実行者との間の紛争について、会員の同意を得ることなく、当該会員またはプロジェクト実行者に対し当該紛争に関する情報提供その他の援助を行うことができるものとします。但し、この場合に運営者は情報提供その他の援助を行うことを約束するものではありません。
            <br>
            4.会員間、会員とプロジェクト実行者、または第三者との間においてトラブル等が発生した場合についても、運営者が別途定める場合を除き、運営者が仲裁し、解決にあたることはありませんので、取引に際しては十分に注意し、予めご了承の上ご利用ください。
            <br>
            <br> 第１４条（プロジェクトの支援）
            <br> 1.
            会員は、運営者所定の方法により提示されたプロジェクトの内容及びアイテムを確認し、プロジェクトの支援を希望した場合、以下の事項を了承のうえ、当該プロジェクトのプロジェクト実行者に対して、支援決定の意思表示を行うものとします。
            <br> (1)
            プロジェクトには、支援獲得目標金額の達成等一定の条件を充たさない限りプロジェクトとして成立しないものや、無条件にてプロジェクト期間経過後にプロジェクトが成立したものとしてアイテムを提供するものなど、プロジェクトごとに内容の異なるものがあります。
            <br> (2)
            プロジェクト実行者と会員との間の売買契約の成立時期についても、プロジェクトの内容により異なります。各プロジェクトの成立条件、売買契約の成立時期等の具体的内容は、プロジェクトごとに表示されるページにおいて定められています。
            <br> (3)
            プロジェクトは、プロジェクト期間中、運営者がやむを得ないと判断した場合には、運営者所定の方法で告知することによりプロジェクトを中止することがあります。その場合、支援の意思表示をした会員にアイテムの売買代金の支払義務は生じませんが、これにより他に会員に何らかの損害が生じたとしても、運営者は一切の責任を負いません。
            <br>
            2.運営者は、会員に対してプロジェクト支援の場を提供するものであり、会員に対して、プロジェクト実行者によるプロジェクト成立又はアイテムの提供又は履行を保証するものではありません。本サービス、及びプロジェクトごとに表示されるページに記載された情報を充分ご検討いただき、以下のリスクがあることを理解した上で、支援決定の意思表示を行ってください。
            <br> (1) プロジェクトが成立しないリスク（アイテムの売買契約が成立しないリスク。なお、その場合、プロジェクト支援の意思決定をした会員にアイテムの売買代金の支払義務は生じません）
            <br> (2) プロジェクト実行者の信頼リスク（プロジェクト実行者が倒産等をした場合に、アイテムが提供又は履行されず、返金がされない可能性がある点など）
            <br> (3) アイテムが、想定していたものと異なるリスク
            <br>
            <br> 第１５条（プロジェクトの成立）
            <br>
            1.プロジェクトの成立を一定の条件にかからしめている場合、プロジェクト期間内においても、プロジェクトが成立した時点で、会員とプロジェクト実行者との間にアイテムの売買契約が成立するものとします。なお、プロジェクトの成立の時点については、各プロジェクトのページの記載をご確認ください。
            <br> 2.プロジェクトが開始し成立するまでの間、及びプロジェクト成立後は、当該プロジェクトの支援の意思表示の撤回、辞退はできないものとします。
            <br>
            3.会員は、自らが支援決定の意思表示を行ったプロジェクトが成立した場合、プロジェクトごとに表示されるページにおいて定められた期日までに、運営者所定の方法により、アイテムの代金を支払う義務を負うものとします。当該指定期日内に支払いがなされない場合には、運営者またはプロジェクト実行者が自由に支援をキャンセルすることができるものとします。
            <br> 4.プロジェクトが成立しなかった場合、当該アイテムの代金を支払う義務は発生いたしません。
            <br>
            5.プロジェクト実行者と会員との間において、プロジェクトの成立、アイテム等に関して問題が生じた場合は、当事者間で解決するものとし、運営者は責任を負わないものとします。但し、本サービスの提供に際してのシステム上の不具合などに起因する場合には、この限りではありません。
            <br>
            <br> 第１６条（支払受領及び代金債務弁済）
            <br>
            運営者は、プロジェクト実行者と会員との間の売買契約に基づくプロジェクト支援の対価について、プロジェクト実行者を代行して会員からの支払を受領します。会員は、運営者への支払を完了することにより、プロジェクト実行者に対する代金債務の弁済を完了したことになります。
            <br>
            <br> 第１７条　個人情報の利用
            <br> 1. 運営者は、運営者が別途定める<a href="#privacy01">プライバシーポリシー</a>に則り、本サービスの利用を通じて取得した会員の個人情報を適切に取り扱うものとし、次の各号の目的に限り利用します。
            <br> （1）プロジェクトの支援、アイテムの発送を含む、本サービスの提供に必要な範囲で利用するため。
            <br> （2）必要に応じ運営者のサービス又は広告主企業や提携先企業の商品・サービス等に関する情報を会員に提供するため。
            <br> （3）特典が運営者の提携先企業によって提供される場合、当該提携先企業に対して特典の送付先、連絡先その他特典の提供に必要な事項を開示するため。
            <br> （4）本サービスの利用状況や利用環境などに関する調査を実施や、業務提携をした企業等や社内向けにさまざまな報告（属性の集計・分析等個人を特定できない様式に限る）を行うため。
            <br> （5）本サービスに関するお客様のご照会に対する調査・回答のため。
            <br> 2.
            運営者は、本サービスを通じて知り得た会員の個人情報について、本サービスの履行のため、機密保持契約を結んだ業務委託先以外に開示することはありません。但し、次の各号のいずれかに該当する場合はこの限りではありません。
            <br> （1）事前に会員の同意を得た場合。
            <br> （2）国又は地方公共団体もしくは行政当局等より、法令に基づく個人情報開示の要請がなされた場合。
            <br> （3）人の生命、身体又は財産の保護のために必要がある場合であって、会員の同意を得ることが困難である場合。
            <br> 3. 会員は、会員情報の変更画面の利用、または運営者所定の方法により、会員の個人情報について内容の確認、修正又は更新を行うことができます。
            <br> 4. 個人情報の削除のご請求については、保有個人データの性質上、削除対応できない場合があります。この場合、個人情報の利用停止を行います。
            <br>
            <br> 第１８条　著作権をはじめとする知的財産権
            <br> 1.
            本サービスに関するソフトウェア、タイトル、ページデザイン、ドメイン、メールアドレスその他著作物、肖像、商標、標章、情報、データ及び表現等にかかわる著作権、商標権、その他一切の知的財産権及びノウハウは、運営者又は正当な権利を有する権利者（プロジェクト実行者等を含みますが、これらに限られません。以下、本条において同様）に帰属します。
            <br> 2.
            本サービスにより再生されるすべての楽曲等にかかわるデータの製作者の権利、また、当該楽曲等の著作権ないし著作隣接権その他一切の知的財産権は、運営者、各レコード会社又は正当な権利を有する権利者に帰属します。
            <br> 3.
            会員は、本サービスを利用することにより得られる一切の情報及び本サービスを構成するすべてのプログラム等を、運営者又は権利者たる第三者の事前の許諾なく、複製、貸与、出版、放送、公衆送信、送信可能化、翻案、改変、その他方法の如何を問わず、私的使用の範囲を越えて使用してはならないものとします。
            <br> 4.本条の規定に違反して問題が発生した場合、会員は、自己の費用と責任においてかかる問題を解決するとともに、運営者に何らの迷惑または損害を与えないものとします。
            <br>
            <br> 第１９条　利用環境
            <br> 会員は、本サービスを本サービス内に記載された動作環境及び条件においてのみ利用することができます。会員の利用環境によっては、必ずしも正常な動作が行えない場合があります。
            <br>
            <br>
          <div id="law20">第２０条　免責</div>
          1. 運営者は、本サービスの利用に関して会員が被った損害又は損失などについては、運営者の故意又は重過失に起因する場合を除き、一切の責任を負わないものとします。
          <br> 2.
          運営者は、会員に対して、本サービス、本サービスを通じて提供されるコンテンツ、その他の情報について、その安全性、正確性、確実性、有用性、最新性、合法性、道徳性、第三者の権利を侵害していないこと等のいかなる保証も行うものではありません。
          <br> 3. 運営者は、運営者のサーバ、ドメインなどから送られるメール、コンテンツに、コンピュータウィルスなどの有害なものが含まれていないことを保証いたしません。
          <br> 4.
          運営者は、本サービスの全部もしくは一部の変更、追加、停止又は終了によって生じた全ての損失や損害について、一切の責任を負いません。また、アクセス過多その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。
          <br> 5. 運営者は、会員が本サービスに保存又は登録した楽曲や画像等のコンテンツが何らかの事由により消失した場合も、運営者に故意又は重過失がある場合を除き、一切の責任を負いません。
          <br>
          6.運営者は、運営者が提供するサービスに於いて、会員とプロジェクト実行者または第三者間で生じたトラブル（違法または公序良俗に反する行為の提案、名誉毀損、侮辱、プライバシー侵害、脅迫、誹謗中傷、いやがらせ等）に関して、一切の責任を負わないものとします。
          <br>
          7.前各項の定めにかかわらず、本サービスにおける運営者と利用者との関係が消費者契約法で定める「消費者契約」に該当すると認められる場合においては、運営者は、運営者の責めに帰すべき事由による利用者の損害について、賠償する責任を負うものとします。但し、運営者の故意又は重過失に基づく場合を除き、運営者は、利用者が直接被った通常の損害の範囲で賠償する責任を負うものとします。
          <br> 8.
          運営者は、本サービスの利用における電話又はFAXによるサポートは原則として行いません。会員からのご質問等はEメールのみとさせて頂きます。また、本サービスの利用において、会員自らが使用しているコンピュータ、通信機器、通信ソフト等の一切のサポートは行わないものとします。会員と各種プロバイダとの接続に関する苦情等は一切受け付けないものとします。
          <br>
          <br> 第２１条　本サービスの提供の一時的な中断
          <br> 1. 運営者は、次の各号に掲げる事由のいずれかが生じた場合には、会員に事前に通知することなく、一時的に本サービスの提供を中断することがあります。
          <br> （1）地震、津波、洪水、噴火等の天災地変、戦争、動乱、暴動等制御不能の事由により、本サービスの提供が不可能となった場合。
          <br> （2）火災、停電等により本サービスの提供が不可能となった場合。
          <br> （3）本サービスのシステムに関し定期的な保守又は緊急の保守を行う場合。
          <br>
          （4）電気通信事業法第8条の規定に基づき、天災、事変その他の非常事態が発生し、又は発生するおそれがあるときで、災害の予防もしくは救援、交通、通信もしくは電力の供給の確保、又は秩序の維持に必要な通信その他公共の利益のために、緊急を要する通信を優先的に取り扱うため、本サービスの提供を制限する必要があると判断した場合。
          <br> （5）前記各号の他、運営者が、運用上又は技術上、本サービスの提供の一時的な中断が必要と判断した場合。
          <br> 2. 運営者は、前項各号に掲げる事由によって本サービスの提供につき遅延又は中断等が発生した場合でも、これに基づいて会員又は他の第三者が被った損害については一切責任を負わないものとします。
          <br>
          <br> 第２２条　損害賠償責任
          <br> 1. 会員は、本規約に違反する行為又は不正もしくは違法な行為によって運営者またはプロジェクト実行者に損害を与えた場合は、当該損害を賠償する責任を負うものとします。
          <br> 2.
          会員は、本サービスの利用に関連して自らの行為により生じたあらゆる責任、損害又は費用に関して（第三者からなされる請求も含むものとします）、自己の責任と費用により解決するものとし、運営者に対して何らの損害を与えないものとします。
          <br> 3.
          会員が未成年の場合は、親権者が本サービスや本サービスで公開される掲載情報が、未成年者にとって適切かどうか判断する責を負うものとします。また、成年被後見人・被保佐人・被補助人の場合は成年後見人、保佐人又は補助人が本サービスや本サービスで公開される掲載情報が成年被後見人・被保佐人・被補助人にとって適切かどうか判断する責を負うものとします。
          <br>
          <br> 第２３条　本サービスの提供の中止
          <br> 1. 運営者は、30日の予告期間をもって会員に告知の上、本サービスの提供を中止することができるものとします。
          <br> 2. 前項の告知は、運営者が本サービス内に告知した時点に効力を生ずるものとします。
          <br> 3. 本サービスに対し、第三者より著作権・特許権侵害等に基づく差し止め請求がなされ、本サービスの提供を中止せざるを得ない場合、運営者は、予告なしに本サービスの提供を中止する場合があります。
          <br> 4. 運営者は、本サービスの提供中止の際、本条の手続きを経ることにより、中止に伴う会員又は他の第三者が被った損害については、運営者は一切責任を負わないものとします。
          <br>
          <br> 第２４条　本サービスの提供の終了
          <br> 1. 運営者は、会員に告知の上、30日の予告期間をもって本サービスの提供を終了できるものとします。この場合、運営者は、会員その他のいかなる者に対しても、いかなる責任も負わないものとします。
          <br> 2. 前項の告知は、運営者が本サービス内に告知した時点に効力を生ずるものとします。
          <br> 3. 運営者は、本条に基づき本サービスの提供を終了した場合、これに起因する会員又は第三者が被ったいかなる不利益、損害について、一切責任を負わないものとします。
          <br>
          <br> 第２５条　有害コンテンツ等の削除
          <br> 1.
          運営者は、会員による本サービスの利用が本規約に違反し、もしくは違反するおそれがあると認めた場合、第三者から肖像権、プライバシー権、名誉権、著作権等の権利侵害がある旨の通報を受けた場合、本サービスの利用が公序良俗に反すると認められる場合、その他運営者が適切でないと判断した場合には、会員に予め通知することなく、会員が本サービスに登録した情報その他本サービスを利用してWeb上にアップロードしたコンテンツや掲載した情報等を削除し、又は会員に対し是正を求める等運営者が適当と判断する措置を講じることができるものとし、会員は、予めこれに同意するものとします。但し、運営者は、会員による違反を防止又は是正する義務を負うものではありません。
          <br> 2.
          運営者が前項に基づき会員が本サービスに登録した情報その他本サービスを利用してWeb上にアップロードしたコンテンツや掲載した情報等を削除した場合にも、これにより会員又は他の第三者が被った損害について、運営者は一切責任を負わないものとします。
          <br>
          <br> 第２６条　運営者の権限
          <br> 1. 運営者は、本サービスの提供、運営に関する一切の事項を決定する裁量権を留保しており、具体的には以下のような権限を有します。
          <br> （1）本サービスにおいて、運営者及び関連企業の情報、もしくは広告を掲載することがあります。
          <br> （2）本サービスの提供、会員サポート及び保守等の運営に関する業務を、会員に事前の通知をすることなく、第三者に委託することがあります。
          <br> （3）法令又は本規約の遵守状況などを確認するために掲載情報（会員が本サービスに登録
          <br>
          した情報、楽曲、その他本サービスを利用してWeb上にアップロードしたコンテンツや掲載した情報等を指しますが、これらに限られません。本項において以下同様）の内容を確認し、掲載情報を削除又は移動すること、及び会員の本サービスの利用を禁止すること等の措置を行うことがあります。但し、運営者はこのような確認を行う義務を負うものではありません。
          <br> 2.
          運営者は、会員に事前の通知をすることなく、会員が本サービスの利用により運営者に開示した情報や利用状況等を、会員が特定できない形にして、今後の本サービスの展開のため、自ら利用し又は第三者をして利用させることができるものとし、会員は予めこれに同意するものとします。
          <br>
          <br> 第２７条　会員に対する本サービスの利用停止
          <br> 1. 会員が、次のいずれかの事由に該当した場合、又は該当すると運営者が認めた場合、運営者は会員に対する何らの事前の催告・通知なく、本サービスの全部又は一部の利用を停止することができます。
          <br> （1）第９条もしくは第１０条に該当する行為、又はこれらに準ずる行為をしたとき。
          <br> （2）本規約又は各種機能や個別規程等のいずれかに違反したとき。
          <br> （3）過去に本規約の違反等により、本サービスの利用停止がなされた会員と同一又は同一のおそれがあると運営者が判断したとき。
          <br> （4）その他、運営者が会員として不適当と判断したとき。
          <br> 2. 前項各号のいずれかに該当した会員は、直ちに本サービスの利用に関する権利を失うとともに、運営者に対して何らの請求権も取得しないものとし、以後原則として、本サービスの利用をお断りさせて頂くものとします。
          <br>
          <br> 第２８条（手続きの成立）
          <br>
          会員が本サービスを介して行った登録、支援の決定、退会等本サービスに関する一切の手続きは、運営者のサーバにこれらの手続きに関するデータが送信され、運営者のシステムに内容が反映された時点をもって、有効に成立するものとします。
          <br>
          <br> 第４章　その他
          <br> 第２９条　準拠法、裁判管轄
          <br> 1. 本規約は、日本法を準拠法とし、日本法にしたがって解釈されるものとします。
          <br> 2. 万一、本規約や個別規程等に関し、会員と運営者との間で意見の相違等、何らかの紛争が生じた場合、かかる紛争の全てについて東京地方裁判所を第一審の専属的管轄裁判所とします。
          <br>
          <br> 第３０条　分離性
          <br> 本規約の条項の一部が、法令上無効であるとされた場合であっても、かかる無効とされた条項以外の本規約の各規定は、引き続き有効なものとして、運営者及び会員に適用されるものとします。
          <br>
          <br> 附則　施行日
          <br> 2016年8月1日 制定
          </p>

        </div>
      </li>


      <li id="specifiedCommercialTransactions" class="about_col">
        <div class="about_meta wrap">
          <h3 class="about_meta title">特定商取引法に基づく表記</h3>
        </div>
        <div class="about_body">
          <p>1.役務提供者についての表示
            <br> ●役務提供事業者

            <br> 株式会社レコチョク
            <br>
            <br> ●運営責任者
            <br> 代表取締役社長　加藤　裕一
            <br>
            <br> ●所在地
            <br> 〒150-0002 東京都渋谷区渋谷2-16-1
            <br>
            <br> ●お問い合わせ
            <br> ※電話番号0570-00-7720
            <br> （受付時間 10：00 - 18：00､土日祝日及び弊社休業日を除く)
            <br> なお、商品・サービスのご利用に関するお問い合わせは、各ページ画面下部に記載の「よくある質問/お問い合わせ」を選択頂き、画面下部に表示されておりますお問い合わせフォームよりご連絡ください。
            <br>
            <br> ●役務提供事業者の役割
            <br> 役務提供事業者は、プロジェクト実行者を代行してプロジェクト支援の対価を受領するにすぎません。（詳細につきましては、利用規約（規約へのリンクを設定）をご参照下さい）
            <br>
            <br> ●提供役務に瑕疵があった場合の取扱い
            <br>
            <a href="#law20">WIZY規約20条（免責）</a>をご確認ください。
            <br>
            <br> ●サービス利用にかかるその他必要料金
            <br> サービス利用時における通信料
            <br>
            <br> ●動作環境
            <br> サービスをご利用いただくために必要な動作環境は、サポート等のページに表示しています。
            <br>
            <br> ２.プロジェクト実行者についての表示
            <br> 各プロジェクトの該当ページに「クリエイター」として表示します。
            <br> ３.プロジェクト実行者から運営の委託を受けている販売商品についての表示
            <br>
            <br> ●販売価格
            <br> 商品毎に該当ページに記載｡該当ページで販売価格(消費税等含む)を表示
            <br>
            <br> ●送料
            <br> 原則、販売価格に含まれます。送料が別途発生する場合には該当ページに送料を表示します。
            <br>
            <br> ●商品代金､送料以外の必要料金
            <br> 決済手数料（支払方法、支払金額に応じて手数料が異なります。）
            <br>
            <br> ・コンビニ払いの場合
            <br> 1～1,999円：110円／2,000～2,999円：150円／3,000～9,999円：170円／
            <br> 10,000～29,999円：230円／30,000～49,999円：280円／50,000～99,999円：480円／
            <br> 100,000～299,999円：530円
            <br>
            <br> ・銀行振込（Pay-easy）の場合
            <br> 1～2,999円：110円／3,000円～9,999円：130円／10,000～29,999円：160円／
            <br> 30,000～99,999円：410円／100,000～149,999円：430円／150,000～299,999円：480円／
            <br> 300,000～499,999円：580円／500,000～999,999円：750円
            <br>
            <br> ・クレジットカード払いの場合、手数料のご負担はございません
            <br>
            <br> ●代金の支払方法と支払時期
            <br> 商品毎に該当ページに記載｡
            <br>
            <br> ●商品引渡し時期
            <br> 発送時期は、商品毎に該当ページに表示します。
            <br>
            <br> ●商品の動作環境
            <br> BD商品：日本国内の一般的なBDプレーヤーでの再生が可能です。
            <br> DVD商品：日本国内の一般的なDVDプレーヤーでの再生が可能です。
            <br> CD商品：日本国内の一般的なCDプレーヤーでの再生が可能です。
            <br> 上記以外の商品について特別な動作環境が必要な場合には、商品ごとに該当ページに記載
            <br>
            <br> ４.返品特約
            <br>
            販売商品の交換・返品については、WIZY利用規約（規約へのリンクを設定）をご確認のうえ、役務提供事業者である株式会社レコチョクの問い合わせフォーム（問い合わせフォームへのリンクを設定）にご連絡ください。株式会社レコチョクより、プロジェクト実行者にお問い合わせ内容を転送させていただきます。
            <br>
            <br> ５.瑕疵担保責任に関する特約
            <br> 上記販売商品の交換・返品のみの対応となるものとし、法律上の瑕疵担保責任の規定は適用されないものとします。
            <br>

          </p>
        </div>
      </li>

      <li id="privacy01" class="about_col">
        <div class="about_meta wrap">
          <h3 class="about_meta title">プライバシーポリシー</h3>
        </div>
        <div class="about_body">
          <p>
            当社は、新しい価値を提案する総合エンターテインメント企業を目指す会社として、個人情報保護を企業の社会的責任として認識し、個人情報の保護に関する法律、その他の法令等を遵守するとともに、以下のとおり個人情報保護方針を公開し、個人情報の適正な取り扱いに努めてまいります。
            <br>
            <br> 1.個人情報の定義
            <br>
            本方針における個人情報(以下単に「個人情報」といいます。)とは、個々のユーザーに関する情報であって、当該情報に含まれる氏名、生年月日、年齢、性別、住所、電話番号、電子メールアドレス、訪れたホームページの情報、苦情、ご相談またはお問い合せの情報等により、特定のユーザーを識別できるものをいいます。なお、その情報のみでは識別できない場合であっても、当社が他の情報と容易に照合することができ、それにより特定のユーザーを識別できるものも個人情報に含まれます。
            <br>
            <br> 2.個人情報の取得について
            <br> 当社は、個人情報を取得する際は、その目的を明示し、ご本人の同意を得てから行います。
            <br>
            <br> 3.個人情報を第三者へ提供する場合
            <br> 当社は、個人情報をご本人に明示した利用目的の範囲内で取り扱います。また、当社はご本人からご提供いただいた個人情報を、ご本人の同意がある場合または正当な理由がある場合を除き、第三者に開示または提供しません。
            <br>
            <br> 4.個人情報の適正管理(安全管理)について
            <br> 当社は、収集した個人情報に対し、不正なアクセス、破壊、改ざん、紛失、漏洩等を生じないよう、適切な予防ならびに是正措置を講じ、厳正に管理します。
            <br>
            <br> 5.委託先の監督
            <br>
            当社は、利用目的の達成に必要な範囲において、個人情報の全部または一部を第三者に委託する場合、当該第三者の選定にあたり厳格な審査を行うものとします。また、当社は、当該第三者において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。
            <br>
            <br> 6.関係法令、国が定める指針、その他の規範の遵守について
            <br> 当社は、個人情報に関する法令、ガイドライン、その他の規範を遵守します。
            <br>
            <br> 7.個人情報の開示・訂正・削除などについて
            <br> 当社は、個人情報の取扱いに関する苦情、相談への対応を含む個人情報の取り扱いについて問い合わせ窓口を設置し、ご本人からのお問い合わせに適切かつ迅速に対応します。
            <br>
            <br>
            <問合せ窓口>
              <br> お問合せメールアドレス privacy@recochoku.co.jp
              <br> 株式会社レコチョク カスタマーサービス部門
              <br>
              <br> 8.本方針の変更について
              <br> 当社は、社会情勢等の環境の変化を踏まえ、個人情報に関するマネジメントシステムを継続的に見直し、その改善を図っていきます。その際は、最新の方針を本ウェブサイトにてお知らせいたします。
              <br>
              <br> 2009.12.16制定
              <br> 2011.7.25改定
              <br> 2013.12.26改定
              <br>
              <br> 株式会社レコチョク
              <br> 代表取締役社長 加藤 裕一
          </p>
        </div>
      </li>

      <li id="privacy02" class="about_col">
        <div class="about_meta wrap">
          <h3 class="about_meta title">個人情報の取り扱いについて</a></h3>
        </div>
        <div class="about_body">
          <p>
            当社は、サービスを提供するのに必要な場合、あるいはサービスを向上させるために、個人情報を必要な範囲で、ご提供いただくことがあります。また当社は、ご提供いただいた個人情報の保護につきまして、当社の「プライバシーポリシー」に基づき、細心の注意と最大限の努力をもって適切に管理を行っております。なお、15歳未満（15さいみまん）のお客様（きゃくさま）は、保護者（ほごしゃ）のかたと一緒（いっしょ）にお読（よ）みください。
            <br>
            <br> 株式会社レコチョク
            <br> 個人情報保護管理者 常務執行役員　山崎　浩司
            <br>
            <br> 1.利用目的
            <br> ■当社は、下記の目的で個人情報を利用いたします。
            <br> 下記以外の目的で利用する際は、別途お知らせいたします。
            <br> （1）商品または役務の予約・購入、プレゼント応募、その他の取引をお客様から申し込まれた場合の取引の履行のため
            <br> （2）必要に応じ当社のサービスまたは広告主企業や提携先企業の商品・サービス等に関する情報を提供するため
            <br> （3）特典が当社の提携先企業によって提供される場合、当該提携先企業に対して特典の送付先、連絡先その他特典の提供に必要な事項を開示するため
            <br> （4）当社サービスの利用状況や利用環境などに関する調査を実施したり、業務提携をした企業等や社内向けにさまざまな報告（属性の集計・分析等個人を特定できない様式に限る）を行うため
            <br> （5）各種サービスに関するお客様のご照会に対する調査・回答のため
            <br>
            <br> 2.個人情報の第三者への開示
            <br> ■当社は、当社以外の第三者に対して、次のいずれかに該当する場合を除き、個人情報の開示をいたしません。
            <br> （1）ご本人の同意がある場合
            <br> （2）法令等による要求があった場合
            <br> （3）人の生命、身体または財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難である場合
            <br>
            <br> 3.お客様の権利
            <br>
            ■当社は、ご本人様から利用目的の通知、開示、訂正等（訂正、追加、削除）、利用停止（利用停止、消去、第三者提供の停止）のお求めがあった場合は、遅滞なく対応いたします。上記のご要望がございましたら、以下の相談窓口までご連絡ください。
            <br> ■尚、お問合せの内容によっては当社指定のお手続きや手数料のお支払いをお願いすることがございます。
            <br>
            <br> 4.クッキー
            <br> ■ユーザーごとにカスタマイズされたサービスを提供するにあたり、ユーザーが便利にご利用いただけるようにクッキーを使用することがあります。
            <br> このクッキーは、ユーザーがカスタマイズされたページへアクセスした時、またはログインするときに設定されます。
            <br> ■当ホームページの利用者数を計るために使用する場合があります。
            <br> ■広告掲載にもクッキーを使用することがあります。
            <br>
            <br> 5.改訂
            <br> ■「個人情報の取り扱いについて」は、その内容を適宜見直し、改訂をすることがあります。改訂につきましては、随時本ページでお知らせいたします。
            <br>
            <br> その他、個人情報に関するご質問・ご相談等につきましては、以下のお問合せ窓口までお寄せください。
            <br>
            <br> 問合せ窓口
            <br> お問合せメールアドレス：privacy@recochoku.co.jp
            <br> 株式会社レコチョク カスタマーサービス部門
            <br>
          </p>
        </div>
      </li>


    </ul>


    </section>


  </div>
  <!--   end wrapper   -->
{% endblock %}
